	{% if page.layout == 'amp' %}
		<p></p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = '两水夹明镜，双桥落彩虹。人烟寒橘柚，秋色老梧桐。';
			fortune[1] = '远远围墙，隐隐茅堂。飏青旗、流水桥旁。';
			fortune[2] = '山中何事？松花酿酒，春水煎茶。';
			fortune[3] = '燕子不归春事晚，一汀烟雨杏花寒。';
			fortune[4] = '细雨湿衣看不见，闲花落地听无声。';
			fortune[5] = '为报先生归也，杏花春雨江南。';
			fortune[6] = '芳树无人花自落，春山一路鸟空啼。';
			fortune[7] = '大瓢贮月归春瓮，小杓分江入夜瓶。';
			fortune[8] = '梅花雪，梨花月，总相思。自是春来不觉去偏知。';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>どうしてこうなるんだろう…</noscript>
	{% endif %}
